.shows{
    height: 70vh;
    overflow: hidden;
    background-image: url(../img/backshows.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-x: -5rem;
    color: $colorBlanco;
    align-content: center;
  }
  
  .fecha{
    height: fit-content;
    width: 90vw;
    margin: 0 auto;
    background-color: rgba(51, 51, 51, 0.65);
    h2{
        padding: 3vh 0 5vh 0;
        text-align: center;
        font-weight: 400;
        letter-spacing: .2rem;
        margin-top: 3rem;

    }
    ul{
        list-style: none;
        display: inline-flex;
        font-size: 1.5vw;
        align-items: center;
        justify-content: space-between;
        max-width: 90%;
        width: 100%;
        margin: 0 4vw;
        li{
            padding-bottom: 3vh;
            a{
                display: inline-block;
                padding: 5px;
                border-radius: 15px;
                border:darken($colorBlanco, 10%) solid 2px;
                text-decoration: none;
                color:$colorBlanco;
                background-color: rgba(253, 245, 230, 0.356);
                transition: 0.3s;
                &:hover {
                  border: rgba(253, 245, 230, 0.356) solid 2px;
                  color: rgba(253, 245, 230, 0.356);
                  background-color: rgba(138, 106, 255, 0.356);
                
                }
            }
        }
    }
  }